<html>
<head>
<style type="text/css">
            
            body {
                margin: 20;
            }
            
            .list {
                border: 1px solid #ccc;
            }
            
            .list ul {
                padding: 0;
                margin: 0;
            }
            
            .list li {
                width: 100%;
                height: 22px;
                list-style-type: none;           
            }
            .list p {
                text-align: right;
                display: block;
                margin: 1px;
                margin-right: 20px;
                width: 460px;
                float: left;
            }
            .list .graph {
                padding: 1px;
                margin: 0px;
                float:left;
                display: block;            
                width: 500px;
                
            }
            .list .bar {
                display: block;            
                float:left;
                
                background-color: #559;
                border: 1px solid #005;
                height: 18px;
            }
            
</style>
</head>
<body>
<h1>Just a Few Languages</h1>
<p>There are over 7000 languages spoken in the world today, 84 languages reach about 78% of the populations. The graph below shows the 350 languages which are spoken by over 90% of the world's population, in these languages the United Nations and volunteers from the Unicode organization have translated its Univerdal Declaration of Human Rights into 350 languages, making it the most translated document in the world. (Note: that the Bible is the most translated <i>book</i>)</p>
<p>World Population: 6,775,235,700 in 2009 Source: World Bank, World Development Indicators 
<div class="list">
  <ul>
  <% @lang_info.each do |lang| %>
    <li><%= erb :_language, :locals => {:lang => lang} %> </li>
  <% end %>
  </ul>
</div>
</body>
</html>
