/* Style sheet for media: print */

/* EXAMPLE */

*
{background-color:#FFF !important;
background:none !important;
float:none !important;}

body {
	font-family: "Times New Roman", Times, serif;
	margin-top: 0;
	font-size: 12pt;
	color: #000000;}

acronym, abbr {border-bottom: none;}
 
#main {
	width: 95%;
	margin: 0 auto;
	border: none;}

#topbanner {
	width: 100%;
	border-bottom: #333333 1px solid;
	height:auto;
	padding-bottom:10pt}
	
#topbanner #hiddentitle {
	height: auto;
	margin: 0;
	padding: 0;}
	
#topbanner h1 {
	font-size: 150%;
	padding: 0;
	margin: 12px;
	text-align: center;}
	
#skiplink, #brandbar, #languages, #topbanner h1 span, #mainnav, #footer, #thematicnav, #resources {
	display: none !important;}

#content {
	width: 100%;
	margin: 0;
	padding: 12px;}

#topbanner h1, #content h2, #content h3, #content h4 {color: #000000;}
	
#content a:link {color:#666666; text-decoration:underline;}

#content ul li {list-style-type:circle}


